<!-- views/pages/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>SleepAnalytics SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Sleep Analytics</h1>
        <br><br>
        <small> Cadastro Realizado com Sucesso!</small><br><br><br>
        <a href="/login" class="btn btn-danger"><span class="fa fa-google"></span> Login</a>
    </div>
</div>
</body>
</html> 