<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card px-1 py-4">
        <h6 align="center" class="information mt-4">Cadastro de Usuario - Sleep Analytics</h6>
          <div class="card-body">
            <form method='POST' action='/cadastro'>
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" name="first_name" placeholder="Primeiro Nome" required> </div>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" name="second_name" placeholder="Sobrenome" required> </div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <div class="input-group"> <input class="form-control" type="text" name="doc" placeholder="CPF" required> </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="email" name="principal_email" placeholder="Email de Utilização" required> </div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <div class="input-group"> <input class="form-control" type="email" name="first_email" placeholder="Email de Responsável" required> </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="email" name="second_email" placeholder="Email Opcional"> </div>
                    </div>
                </div>
              </div> 
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" name="responsable_contact" placeholder="Contato de Responsável" required> </div>
                    </div>
                </div>
              </div> 
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" name="optional_contact" placeholder="Contato Opcional"> </div>
                    </div>
                </div>
              </div>
              <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text"> Sistema desenvolvido por <a href='https://www.linkedin.com/in/marcel-heinrich/'>Marcel Heinrich</a> </small> </div>
              <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
            </form>   
            </div>
            </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>

