<!-- views/success.ejs -->
<!doctype html>
<html>

<head>
  <title>Google SignIn</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <style>
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    th,
    td {
      padding: 10px 20px;
      border: 1px solid #000;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-primary  text-center"><span class="fa fa-user"></span> Sleep Analytics!</h1>
      <div class="row">
        <div class="col-sm-12">
          <div class="well" align="center" id="body">
            <br><br>
            <p>
              Os dados de sono do usuário dos ultimos 5 dias.
            </p>

            <table class="table table-bordered">
              <thead> 
              <tr>
                  <th class="text-center">Quantidade de Sono</th>
                  <th class="text-center">Data Hora</th>
                  <th class="text-center">Notificação</th>
              </tr>
              </thead>
              <tbody>
                    <% table.forEach(function(element){ %>
                      <tr>
                        <td><%= element.quantidade_sono%></td>
                        <td><%= element.data_hora%></td>
                        <td><%= element.notification %></td>
                      </tr>
                    <% })%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form action="/cadastro-sono" method="GET">
            <button type="submit" class="btn btn-primary btn-lg">Inserir Sono</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>