<!-- views/success.ejs -->
<!doctype html>
<html>
  <head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
          body        { padding-top:70px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="text-primary  text-center"><span class="fa fa-user"></span> Medição de Sono Inserida!</h1>
          <div class="row">
            <div class="col-sm-12">
                <div class="well" align="center">
                  <br><br><br><br>
                        <p>
                          Seu sono foi cadastrado com sucesso! Obrigado por utilizar nosso sistema :)
                        </p>
                        <p>Fique atento ao seu email e verifique se o dispositivo está funcionando corretamente !</p>
                </div>
            </div>
        </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="col-sm-12">
          <div class="well" align="center">
            <form method="GET" action="/home">
              <button type="submit" class="btn btn-primary btn-lg">Ir para Home</button>
            </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html> 